<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="btn btn-primary"
    target="_blank"
    href="https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application"
    >DigitalOcean Tutorial</a
  >
  <a class="navbar-brand" href="/">EJS Sample</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
  <em>Variant: <%= typeof variant != 'undefined' ? variant : 'default' %></em>
</nav>
